/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  display: flex;
}

.item {
  height: 100px;
  width: 100px; /* A fixed width as the default */
  border: 2px solid #C70039;
  border-radius: 5px;
  background-color: #FFC300;
}

.item-center {
  flex-grow: 1; /* Set the middle element to grow and stretch */
}

.item + .item {
  margin-left: 2%;
}

