:root {
  --primary-color: #C70039;
  --secondary-color: #FFC300;
}

.container {
  display: flex;
  height: 300px;
  justify-content: space-between;
  align-items: flex-end;
}

.item {
  border: 1px dotted var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 14%;
}

.item-1 {
  height: 20%;
}

.item-2 {
  height: 30%;
}

.item-3 {
  height: 40%;
}

.item-4 {
  height: 50%;
}

.item-5 {
  height: 60%;
}
